            body{
                background: linear-gradient(45deg,#fffde4,#005aa7);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            .con{
                background: linear-gradient(45deg,#005aa7,#fffde4); 
            }
            input::placeholder{
                color: white;
            }
            span{
                color: white;
            }
            input{
                outline: none;
            }
            .container{
                max-width:650px;
                margin: auto;
                padding: 50px;
                padding-bottom: 10%;
            }
            .red{
                color: red;
            }
            
            .hov:hover{
                color:#fffde4;
                background-color: #005aa7;
            }
            
            .mll{
                margin-left: 15%;
            }
            
            .error{
                display: none;
            }
            .n{
                width: 15%;
                margin-left: 60%;
                border-radius: 10%;
                margin-bottom: 8%;
            }
            .p{
                width: 15%;
                border-radius: 10%;
                margin-left: 3%;
                margin-bottom: 8%;
              }
            
            .left{
                width: 25%;
                animation-name: leftt;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes leftt{
                from{left:-1000px;}
                to{left:0px;}
            }
            
             .bigleft{
                width: 50%;
                animation-name: leftt;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes leftt{
                from{left:-1000px;}
                to{left:0px;}
            }
            
             .right{
                width: 25%;
                animation-name: rightt;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes rightt{
                from{left:1000px;}
                to{left:0px;}
            }
            
            .bigright{
                width: 50%;
                animation-name: rightt;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes rightt{
                from{left:1000px;}
                to{left:0px;}
            }
            
            .top{
                 width: 70%;
                animation-name: topp;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes topp{
                from{top:-1000px;}
                to{top:0;}
            }
            
                        
            .down{
                 width: 100%;
                animation-name: downn;
                animation-duration: 2s;
                position: relative;
                animation-fill-mode: forwards;
            }
            
            @keyframes downn{
                from{top:1000px;}
                to{top:0;}
            }
            
            .blink{
                animation-name: blinker;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 0.6s;
            }
            
            @keyframes blinker{
              from{opacity: 1.0;}
               to{opacity: 0.0;}
               
            }

@media (min-width: 0px) and (max-width: 386px){
    .con{
        width: 85%;
        margin: auto;
        height: auto;
    }
    .mar{
        margin: 0px 0px 20px 0px;
    }
    .wid{
        width: 100%;
    }
}
@media (min-width: 387px) and (max-width: 576px) {
    .con{
        width: 90%;
        margin: 10px auto;
        margin-top: 20px;
        padding: 20px;
        height: auto;
    }
    .mar{
        margin: 0px 0px 20px 0px;
    }
    .wid{
        width: 100%;
    }

}
@media (min-width: 577px) and (max-width: 686px){
    .con{
        width: 85%;
        margin: auto;
        margin-top: 20px;
        height: 200%;
    }
    .mar{
        margin: 0px 0px 20px 0px;
    }
    .wid{
        width: 100%;
    }

}
@media (min-width: 687px) and (max-width: 990px){
    .con{
        width: 85%;
        margin: auto;
        margin-top: 20px;
        height: auto;
    }
    .mar{
        margin: 0px 0px 20px 0px;
    }
    .wid{
        width: 100%;
    }

}
