body{
    background: linear-gradient(30deg,#FAF8F5,#C6C0B3,#4C5F4E);
    background-repeat: no-repeat;
}
.container{
    margin-top: 3%;
    background-color: #f9f9f9;
    box-shadow: 0 0 25px;
    max-width:1700px;
    padding: 50px;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}
.colo{
    color: white;
}
.pad{
    padding-bottom: 7%;
}
.pho{
    border-radius: 50%;
    margin-left: 38%;
    object-fit: cover;
    border: 3px solid white;
}
.left{
    margin-left: 7%;
}
.top{
    margin-top: 5%;
}
hr{
    border:  4px solid black;
}
.mb{
    margin-left: 5%;
}
.dis{
    display: flex;
}
.font{
    font-size: 20px;
}
.ml{
    margin-left: 7%;
}
.line{
    border-left: 3px solid black;
    height: auto;
}
.dec{
    text-decoration: underline;
}
.scroll-content{
    position: relative;
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes move{
    from{
        top:0px;
    }
    to{
        top:-1300px;
    }
}
.up{
    animation-name: up;
    animation-duration: 2s;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes up{
    from{
        top:-2000px;
    }
    to{
        top:0px;
    }
}

.leftt{
    animation-name: left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes left{
    from{
        left:-2000px;
    }
    to{
        left:0px;
    }
}

.rightt{
    animation-name: right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes right{
    from{
        right:-2000px;
    }
    to{
        right:0px;
    }
}

.fade{
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.down{
    animation-name: down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes down{
    from{
        bottom: -2000px;
    }
    to{
        bottom: 0px;
    }
}

.fast{
    animation-name: fast;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;


}
@keyframes fast{
    from{
        left:-15000px;

    }
    to{
        left:0px;

    }
}

.fastt{
    animation-name: fastt;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes fastt{
    from{
        right: -15000px;

    }
    to{
        right:0px;

    }
}
.late{
    animation-name: late;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes late{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}