body{
    background: linear-gradient(135deg,#2c3e50,#3498db);
    background-repeat: no-repeat;
}
.res{
    text-align: center; 
    margin-top: 3%;
    background-color: whitesmoke;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}
.container{
    margin-top: 3%;
    background-color: #f9f9f9;
    box-shadow: 0 0 25px;
    max-width:1700px;
    padding: 50px;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}
.colo{
    color: white;
}
.pad{
    padding-bottom: 7%;
}
.pho{
    border-radius: 50%;
    margin-left: 38%;
}
.left{
    margin-left: 7%;
}
.top{
    margin-top: 5%;
}
hr{
   border:  4px solid black;
}
.mb{
    margin-left: 5%;
}
.dis{
    display: flex;
}
.font{
    font-size: 20px;
}
.ml{
    margin-left: 7%;
}
.line{
    border-left: 3px solid black;
    height: auto;
}
.dec{
    text-decoration: underline;
}
